# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Ignores all .class files
*.class

# Ignore any out/production folder files containing all .class files
/out/

# Ignore any .idea file created by intelliJ
.idea/

# Ignore any .iml file that contains metadata information
src/SC2002_HMS_Team1.iml
